/* --- Agrandar imagen de autor --- */
img.rounded-full.medium-zoom-image {
  width: 230px;   /* <-- Ajusta este valor (ej. 180px) */
  height: 230px;  /* <-- Ajusta este valor (ej. 180px) */
}
/* --- Agrandar logo de la cabecera (esquina superior izquierda) --- */
img.logo {
  max-height: 6rem;  /* Ajusta este valor (original: 5rem) */
  max-width:  6rem;   /* Ajusta este valor (original: 5rem) */
}

/* --- Agrandar fuente y logos del menú superior --- */

/* 1. Apunta a todos los textos del menú (Universo 25, Docs, Publicaciones, ES) */
.main-menu .text-base,
.main-menu .text-sm {
  font-size: 1.20rem; /* Ajusta este valor (1rem es 16px, 1.15rem es ~18.4px) */
}

/* 2. Apunta a todos los íconos (GitHub, LinkedIn, Search, etc.) */
.main-menu span.icon {
  /* Le damos un tamaño explícito que coincida con la nueva fuente */
  width: 1.20rem;   /* Ajusta este valor */
  height: 1.20rem;  /* Ajusta este valor */
}

/* --- Fondo de Gradiente Animado --- */
/* NOTA: En caso de querer quitar el fondo, elminar simplemente todo este bloque */

/* 1. Fondo para MODO CLARO (Light Mode) */
body {
  background: linear-gradient(180deg, #F1F5F9, #C8D5E4); /* Colores claros de ejemplo */
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

/* 2. Fondo para MODO OSCURO (Dark Mode) - ¡Tus colores! */
.dark body {
  background: linear-gradient(180deg, #1e293b, #4d6997); /* Tus colores del generador */
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

/* 3. Las animaciones (Keyframes) - (solo se definen una vez) */
@-webkit-keyframes AnimationName {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@keyframes AnimationName {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}